body {
    background-color: #264653;
    color: #bc6c25;
}
#div1{
    background-color: #2a9d8f;
    color: #f4a261
}

a {
    color: #d62828;
}
footer {
    width: 100%;
    height: 10px;
    background-color: #845C4A;
    color: #DFC8C2;
    text-align: center;
    font-size: 7px;
}